/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

		/*Body*/

body {
	max-width: 1920px;
	min-width: 1000px;
	font-family: 'Barlow', sans-serif;
}
ul, p, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	list-style: none;
}

header {
	position: relative;
}
.top-header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #fff;
	padding-bottom: 15px;
}
.top-header__container {
	padding-left: 100px;
	padding-right: 250px;
}
.top-header__logo {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0px;
}
.top-header__logo:hover {
	cursor: pointer;
}
.top-header__menu {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding-top: 31px;
}
.top-header__menu li {
	padding-right: 15px;
	text-align: center;
}
.top-header__menu a {
	padding: 25px 12px;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
}
.top-header__menu a:active:focus {
	background: #DD666C;
}
.top-header__menu a:hover {
	background: #63C7BD;
	color: #fff;
}

		/*SLIDER*/

.top-slider__arrows, .top-slider__controls, .slide-2, .slide-3 { /*временный стиль для кнопок*/
	display: none; 
}

.top-slider__slide {
	background-image: url(../img/slider-01.jpg);
	background-size: cover;
	height: 576px;
	width: 100%;
	text-align: center;
	padding-top: 100px;
}
.top-slider__slide h2 {
	font-size: 68px;
    font-family: 'Marck Script', cursive;
    color: #ffffff;
}
.top-slider__slide h3 {
    font-size: 48px;
    color: #ffffff;
}
.top-slider__slide p {
	color: #fff; 
	padding-bottom: 25px;
}
.top-slider__slide b {
	color: #dd666c;
    font-size: 40px;
    font-family: 'Marck Script', cursive;
}
.top-slider__button {
	padding: 20px 25px;
	background: #63c7bd;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	transition: 0.2s;
	display: inline-block;
}
.top-slider__button:hover {
	background: #DD666C;
}

		/*ABOUT*/

.about__head {
	font-size: 60px;
    font-family: 'Marck Script', cursive;
    color: #222222;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about strong {
	color: #dd666c;
	text-decoration: underline; /*общий стиль для всех подчеркнутых тегов strong*/
}
.about__bride, .about__fionce {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.about__inner-head {
	font-size: 40px;
    font-family: 'Marck Script', cursive;
    padding-bottom: 25px;
}
.about__description {
    color: #666666;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    max-width: 730px;
    max-height: 82px;
    line-height: 1.78;  			/*общий стиль для текстовых блоков*/
}
.about__fionce-img img {
	padding-left: 30px;
}

.about-fionce-text {
	padding-left: 30px;
}

		/*ABOUT*/
.story__head {
	font-size: 60px;
	font-family: 'Marck Script', cursive;
	padding-bottom: 15px;
	text-align: center;
}
.story__head-bottom {
	display: block;
	text-align: center;
	color: #666666;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    padding-bottom: 35px;
}
.story__container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	position: relative;
}
.story__left-side, .story__right-side {
	display: flex;
	flex-direction: column;
}
.story__left-date p {
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    float: right;
	padding: 40px 40px;
	margin-right: 40px;
	background-color: #dd666c;
	color: #fff;
	margin-bottom: 100px;
}
.story__right-date p {
	font-family: 'Marck Script', cursive;
    font-size: 30px;
	padding: 40px 40px;
	margin-left: 16px;
	background-color: #63C7BD;
	color: #fff;
	margin-bottom: 100px;
	float: left;
}
.story__left-desc, .story__left-date {
	position: relative;
}

.story__left-desc-wrapper, .story__right-desc-wrapper {
	float: right;
	background-color: #F1F1F1;
	font-family: 'Barlow', sans-serif;
    color: #666666;
    font-size: 15px;
    line-height: 1.78;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;  				/*общий стиль для текстовых блоков*/
	margin-bottom: 50px;
}
.story__left-desc-wrapper {
	margin-right: 40px;
	padding: 30px 35px;
}
.story__right-desc-wrapper {
	margin-left: 40px;
	padding: 30px 35px;
}
.story__left-desc-wrapper h4, .story__right-desc-wrapper h4 {
	font-family: 'Marck Script', cursive;
    font-size: 30px;
    color: #222222; 					/*общий стиль для текстовых блоков*/
    font-weight: normal
}
.story__left-desc-wrapper p, .story__right-desc-wrapper p {
	max-width: 440px;
	color: #666666;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    line-height: 1.80857;				/*общий стиль для текстовых блоков*/
}
.story__left-desc-wrapper p {
	text-align: right;
}
.story__right-desc-wrapper p {
	text-align: left;
}
.centering-block-left, .centering-block-right {
	margin-bottom: 25px;
}
.main-timeline-box::before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: calc(50% - 1px);
    height: calc(100% + 4rem);
}
.story__iconBackground {
    position: absolute;
    left: 100%;
    width: 20px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    display: inline-block;
    background-color: #f1f1f1;
    top: 20px;
    margin-left: -10px;
}